.newtaskRoot {
  border-right: 1px solid #000;
  padding: 30px 50px;
  font-family: sans-serif;
  min-height: calc(100% - 60px);
}

.newtaskHeader {
  font-size: 20px;
  color: #000;
  font-weight: 550;
  text-align: center;
}

.newtaskContent {
  margin-top: 50px;
}

.inputTitle {
  width: 100%;
  height: 36px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  font-size: 14px;
}

.description {
  margin-top: 20px;
}

.label {
  font-size: 14px;
  font-weight: 550;
  margin-bottom: 10px;
}

.textarea {
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
  font-size: 14px;
}

.dueDate {
  width: 100%;
  height: 36px;
  border-radius: 3px;
  border: 1px solid #000;
}

.piority {
  width: 100%;
  height: 39px;
  border-radius: 3px;
}

.newtaskFooter {
  margin-top: 50px;
}

.buttonAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background-color: #2da44e;
  color: #ffffff;
  border-radius: 5px;
  height: 39px;
  cursor: pointer;
}
.buttonAdd:hover {
  background-color: #0f7e2e;
}
